/////////////////////////
// Global
/////////////////////////

body {
    background: $gray-900;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &-main {
        &>section {
            padding: 4rem 0;

            &.lrg {
                padding: 8rem 0;
            }

            @include media-breakpoint-down(md) {

                &,
                &.lrg {
                    padding: 3rem 0;
                }
            }
        }
    }

    &-footer {
        margin-top: auto;
    }
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        position: relative;

        &:not(:first-child) {
            margin-top: .75rem;
        }
    }

    &.checked {
        li {
            padding-left: 2rem;

            &::before {
                content: "";
                width: 1.5rem;
                height: 1.5rem;
                background: url(assets/images/icon__list--check.svg) no-repeat 0 0;
                background-size: 1.5rem;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}

.rating {
    width: 78px;
    height: 14px;
    @include font__size(0px);
    @include line__height(0px);
    display: inline-block;
    vertical-align: top;

    &.outer {
        background: url(assets/images/icon__star--placeholder.svg) repeat-x 0 0;
    }

    &.inner {
        background: url(assets/images/icon__star--fill.svg) repeat-x 0 0;
        display: block;
    }
}

.animate {
    &__arrow--right {
        animation: arrowRight 3s linear infinite;
    }
}