/////////////////////////
// Animation
/////////////////////////

@keyframes gradientCircleOpacity {

    0%,
    100% {
        opacity: .35;
    }

    50% {
        opacity: .15;
    }
}

@keyframes arrowRight {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-0.25rem);
    }

    75% {
        transform: translate(0.25rem);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes teamBioButton {
    0% {
        margin-top: 32px;
        opacity: 0;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
}