/////////////////////////
// Header
/////////////////////////

.site-header {
    padding: 1.25rem 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;

    &__logo {
        img {
            height: 1rem;
            width: auto;
            display: flex;
        }
    }

    &__nav {
        @include media-breakpoint-up(lg) {
            & {
                margin-left: 3rem;
                display: block !important;

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;

                    li {
                        position: relative;

                        &:not(:first-child) {
                            margin-left: 1.5rem;
                        }

                        a,
                        span {
                            color: rgba($color-white, .85);
                            font-weight: $font-weight--600;
                            transition: $transition;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            user-select: none;

                            &>img {
                                margin-left: .25rem;
                                transition: $transition;
                            }

                            &:hover {
                                color: rgba($color-white, 1);
                            }

                            &.active {
                                color: $color-brand;

                                &>img {
                                    @include rotate(180deg);
                                }
                            }
                        }

                        &>ul {
                            position: absolute;
                            left: 0;
                            top: calc(100% + 1rem);
                            display: block;
                            width: 250px;
                            padding: .125rem 1rem;
                            @include radius(.5rem);
                            border: 1px solid rgba($color-white, .18);
                            background: #10141e;
                            box-shadow: $shadow-lg;

                            li {
                                display: block;
                                padding: .5rem 0;

                                &:not(:first-child) {
                                    border-top: solid 1px rgba($color-white, .2);
                                    margin-left: 0;
                                }

                                a {
                                    display: block;
                                    color: rgba($color-white, .4);
                                    font-weight: $font-weight--400;
                                }
                            }
                        }
                    }
                }
            }
        }

        @include media-breakpoint-down(lg) {
            & {
                display: none;
                position: fixed;
                left: .75rem;
                right: .75rem;
                top: 76px;
                padding: .125rem 1rem;
                border: 1px solid rgba($color-brand, 1);
                background: rgba($color-brand, 1);
                @include radius(.5rem);
                box-shadow: $shadow-lg;

                &.active {
                    display: block;
                }

                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        position: relative;
                        padding: .5rem 0;

                        &:not(:first-child) {
                            border-top: solid 1px rgba($color-white, .2);
                        }

                        a,
                        span {
                            color: rgba($color-white, .65);
                            font-weight: $font-weight--600;
                            transition: $transition;
                            display: flex;
                            align-items: center;
                            cursor: pointer;
                            user-select: none;

                            &>img {
                                margin-left: .25rem;
                                transition: $transition;
                            }

                            &:hover {
                                color: rgba($color-white, 1);
                            }

                            &.active {
                                color: rgba($color-white, 1);

                                &>img {
                                    @include rotate(180deg);
                                }
                            }
                        }

                        &>ul {
                            padding: .5rem 0 0;

                            li {
                                border: none !important;
                                padding: .25rem 0;
                            }
                        }

                    }
                }

            }
        }
    }

    &__buttons {
        display: flex;
        align-items: center;

        .button {
            &.primary {
                svg {
                    path {
                        fill: $color-white;
                        transition: $transition;
                    }
                }

                &:hover {
                    svg {
                        path {
                            fill: $color-brand;
                        }
                    }
                }
            }

            &.secondary {
                svg {
                    path {
                        fill: $color-white;
                        transition: $transition;
                    }
                }
            }
        }

        @include media-breakpoint-down(lg) {
            & {
                margin-left: 1rem;

                .button {
                    padding: 0;
                    width: 2.25rem;
                    height: 2.25rem;
                }
            }
        }

        @include media-breakpoint-down(md) {
            & {
                &.button-group {

                    .button {
                        &.sm {
                            &:not(:first-child) {
                                margin-left: 1rem;
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &__toggle {
        width: 2.25rem;
        height: 2.25rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-brand !important;
        @include radius(.25rem);

        @include media-breakpoint-up(lg) {
            & {
                display: none !important;
            }
        }

        @include media-breakpoint-down(lg) {
            & {
                margin-left: auto !important;
            }
        }

        svg {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            transition: transform 400ms;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 100%;
            height: 100%;
            display: block;

            .line {
                fill: none;
                transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
                stroke: $color-white;
                stroke-width: 5.5;
                stroke-linecap: round;
            }

            .top {
                stroke-dasharray: 40 121;
            }

            .bottom {
                stroke-dasharray: 40 121;
            }
        }

        &.active {
            svg {
                transform: rotate(45deg);

                .top {
                    stroke-dashoffset: -68px;
                }

                .bottom {
                    stroke-dashoffset: -68px;
                }
            }
        }
    }

}