/////////////////////////
// Modal
/////////////////////////

.modal {
    &-content {
        background: $gray-800;
        border: none;
        @include radius(0px);
        box-shadow: none;
        color: rgba($color-white, .7);
        position: relative;
    }

    &-header {
        border: none;
        padding: 3rem 3rem 0;

        @include media-breakpoint-down(md) {
            & {
                padding: 1.5rem 1.5rem 0;
            }
        }

        .btn-close {
            opacity: 1;
            position: absolute;
            right: 3rem;
            top: 3rem;
            margin: 0;
            padding: 0;
            z-index: 1;
            width: 20px;
            height: 20px;
            background-size: 20px;

            &:focus {
                box-shadow: none;
            }

            @include media-breakpoint-down(md) {
                & {
                    top: 1.5rem;
                    right: 1.5rem;
                }
            }
        }
    }

    &-title {
        margin: 0;
    }

    &-body {
        padding: 3rem;

        p {
            margin-bottom: 1.5rem;
        }

        @include media-breakpoint-down(md) {
            & {
                padding: 1.5rem;
            }
        }
    }

    &-footer {
        padding: 0 3rem 3rem;
        border: none;

        @include media-breakpoint-down(md) {
            & {
                padding: 0 1.5rem 1.5rem;
            }
        }
    }
}